<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Calculator</title>
  <style>
    div {
      background: #00ced1;
      border-radius: 15px;
      font-size: 4em;
      color: #99ff99;
      margin: auto;
      text-align: center;
    }
  </style>
</head>
<body>
  <div><%= ans %></div>
</body>
</html>